<div class="getting-started">
	<h1>Getting Started with MeeTG</h1>

	<ul class="getting-started-steps">
		<li class="step-headers">Sign Up or Log in
				<ul class="sub-steps">
					<li>Select how many years you have been playing, this will match you with up with equally skilled players</li>
					<li>Select if you would like to mentor players at a lower level than you</li>
				</ul>
		</li>
		<li class="step-headers">Click "Map" to browse players located in your area
			<ul class="sub-steps">
				<li>You can click on markers to expand nearby players OR open up their quick-info boxes</li>
				<li>Clicking "Contact" will open up your default email to connect with the player!</li>
			</ul>
		</li>
		<li class="step-headers">Search for Locations or Users in the search bar
			<ul class="sub-steps">
				<li>This will bring up a list of search results</li>
				<li>Click on the player names to view their contact page</li>
			</ul>
		</li>
	</ul>
</div>