<br>
<div class="landing-info">
	<h1>Find M:TG Players</h1>
	<h1>Near You!</h1>
	<%= link_to "Get Started!", get_started_path, class: 'get-started'  %>
	<h3> <%= @nearby_users_count  %> Players near you!</h3>
</div>


