@import "colors";
$background: "back-of-mtg-card.jpg";

@mixin nav-style{	
	position: fixed;
	top: 0;	
	width: 100%;
	height: 3em;
	background-color: $nav-background-color;
	background-repeat: repeat-y;
	box-shadow: 0 0.5em 1em $nav-shadow-color;
}

@mixin placeholder-styling{
	::-webkit-input-placeholder{
		color: $nav-shadow-color;
	}

	:-moz-placeholder {
		color: $nav-shadow-color;
	}

	::-moz-placeholder{
		color: $nav-shadow-color;	
	}

	:-ms-input-placeholder{
		color: $nav-shadow-color;
	}
}


// mixins ^^^^^^^^^^^^^^^
// styles vvvvvvvvvvvvv

body {
	@include placeholder-styling;
	
	background-image: url($background);
	background-size: 100%;
	font-family: 'Crimson Text', 'serif';
	color: $text-color;
}

h1 {
	text-align: center;
}

a {
	color: $text-color;

	&:hover {
		color: $nav-text-hover-color;
	}
}

.wrapper {
	height: 100%;
	width: 100%;
	margin-top: 3em;
}

.nav {
	@include nav-style;

	& .nav-bar {
		text-align: left;

		& li {
			display: inline;
			margin: 0 1em;
		}

		& .title {
			float: right;
			text-size: 2em;
		}

		& a {
			color: $nav-text-color;
			text-decoration: none;

			&:hover {
				color: $nav-text-hover-color;
			}
		}

		& .search-box {			
			display: inline;

			& input {

				border: none;
				background-color: $text-color;


				&:focus {
					outline-color: $nav-shadow-color;
				}
			}
		}
	}
}

.alert {
	text-align: center;
}

.notice {
	text-align: center;
}

.getting-started {
	@include form-styling;

	& .getting-started-steps{
		list-style: none;
		padding: 0;
		
		& .step-headers {
			font-weight: bold;
			margin: 0.5em 0;
			padding: 0.25em 0;
			border-bottom: 1px solid $nav-shadow-color;
		}

	}

	& .sub-steps {
		& li {
			font-weight: normal;
		}
	}
}

.list-view {
	@include form-styling;

	text-align: center;
	border: none;
	box-shadow: 0 0 0.5em $text-color;
}
