<br>
<%= form_for :map_search, html: {id: 'map-search', class: 'map-search'} do |f|  %>
	<%= f.text_field :input, placeholder: 'Search a location'  %>
	<%= f.submit %>
<% end %>
<div id="map-canvas" class="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMVzs0GyFguJHfTNtxDyZFtG3RQbRICGU&sensor=true"></script>
<%= javascript_include_tag "overlappingMarkerSpiderfier.js"  %>
<body onload="initializeMap()">

