<div id="map-canvas" class="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMVzs0GyFguJHfTNtxDyZFtG3RQbRICGU&sensor=true"></script>
<%= javascript_include_tag "overlappingMarkerSpiderfier.js"  %>
<body onload="initializeMap()">

